$base-color: rgba(56, 96, 178, 1);
.fontSize-13px {font-size: .8125rem;}
.fontSize-16px {font-size: 1rem;}
.fontSize-18px {font-size: 1.125rem;}
.fontSize-24px {font-size: 1.5rem;}
.padding-0{padding: 0;}
.padding-10px0px {padding: 10px 0;}
.padding-20px {padding: 20px;}
.theme-fontColor {color: $base-color;}
.theme-backgroundColor {background-color: $base-color;}