.header__select__adjust {
    display: inline-block;
    width: 150px;
    height: 25px;
    transform: translateY(-15px);
}
.header__pattern-select {
    margin: 0 10px;
    width: 100px;
}
.header__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}