<div>
    <div class="ue">
        <%= link_to "＜" ,week_attendances_path('dd':@first_day.ago(1.weeks).strftime("%Y%m%d")), class:"yazirusi"%>
        <%= link_to "＞" ,week_attendances_path('dd':@first_day.since(1.weeks).strftime("%Y%m%d")), class:"yazirusi mar"%>
    </div>

    <table class="table table-striped-columns">
        <thead>
            <tr>
                <% (@first_day.to_date..@last_day.to_date).each do |week| %>
                    <th>
                        <%= week.strftime("#{@dw[week.wday]}") %><br />
                        <%= week %>
                    </th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>うえだ</td>
                <td>うぇだ</td>
                <td>ウエダ</td>
                <td>上田</td>
                <td>うぇーだ</td>
                <td>うぇ</td>
                <td>うぇうぇだ</td>
            </tr>
        </tbody>
    </table>
</div>