<div>
    <div class="ue">
        <%= link_to "ï¼œ" ,week_attendances_path('date':@first_day.ago(1.weeks).strftime("%Y%m%d")), class:"yazirusi"%>
        <%= link_to "ï¼" ,week_attendances_path('date':@first_day.since(1.weeks).strftime("%Y%m%d")), class:"yazirusi mar"%>
    </div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <% (@first_day.to_date..@last_day.to_date).each do |week| %>
                    <th>
                        <%= week.strftime("#{@dw[week.wday]}") %><br />
                        <%= week %>
                    </th>
                <% end %>
            </tr>
        </thead>
            
        <tbody>
            <tr>
                <% (@first_day.to_date..@last_day.to_date).each do |week| %>
                <% @attendance = Attendance.includes(:attendance_details).references(:attendance_details).find_by(base_date: Date.today, employee_id: @employee.id) %>
                    <td>ueda</td>
                <% end %>
            </tr>
        </tbody>
    </table>
</div>